.foldable-header {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.foldable-header h2 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.foldable-header svg {
  font-size: 18px;
  color: #007bff;
  transition: transform 0.3s ease;
}

.foldable-header:hover svg {
  transform: translateY(-2px);
}
